* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    font-family: 'Sometype Mono', monospace;
}

h2 {
    font-family: 'Sometype Mono', monospace;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-indent: 50px;
}

a:visited {
    color: var(--blue-primary);
}

.container {
    position: relative;
    width: 70vw;
    min-height: 100vh;
    margin: 0 auto;
}

.container > img {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}